/* CAROUSEL */
#carousel {
  height: 600px;
  width: 1000px;
  margin: 50px auto;
  position: relative;
}

.gallery {
  position: relative;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

figure {
  height: 100%;
}

figcaption {
  position: absolute;
  bottom: 0;
  right: 15px;
}

figcaption h3,
figcaption p {
  text-shadow: 0 0 5px black;
}

/* BUTTONS */

#carousel .fa-solid {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

#carousel .fa-solid:hover {
  color: dodgerblue;
}

#prev {
  right: 103%;
}

#next {
  left: 103%;
}

/* THUMBNAILS */

#thumbnails {
  width: 1000px;
  height: 100px;
  margin: 0 auto;
}

#thumbnails img {
  width: 19%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  filter: grayscale(1);
  transition: filter 0.5s;
}

#thumbnails img:hover,
#thumbnails img.active {
  filter: grayscale(0);
  scale: 1.05;
}

#thumbnails img:hover {
  cursor: pointer;
}

#thumbnails img.active {
  box-shadow: 0 0 25px blue;
}
